/* variables */
:root {
    --nav-gray: rgb(154,158,161);
    --nav-green: rgb(42,163,68);
}



/* Normalize */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}


/* Navbar */

a {
    text-decoration: none;
}

nav{
    background: rgb(53, 58, 64);
}

#container-fluid {
    margin-left: 5.5rem;
    margin-right: 5.5rem;
}

.nav-img {
    width: 80px;
}

.brand:hover, .nav--link:hover {
    color: #ccc;
} 

.nav--link {
    color: var(--nav-gray);
}

.brand, .nav-link-white {
    color: #fff;
}


.nav-link-green {
    color: var(--nav-green);
}

.nav-link-green:hover {
    color: rgb(9, 223, 56);
}  

.collapse {
    display: flex;
    justify-content: end;
    align-items: center;
}

.nav-item {
    margin-right: 1rem;
}

/* Hero */

.hero {
    height: 85vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding-right: 8vw;
    color: #fff;
} 

.hero p {
    width: 45%;
    text-align: end;
}

.btn-success {
    background-color: rgb(41, 167, 68);
    border: 1px solid rgb(41, 167, 68);
}

.hero-item-1 {
    background-image: url(Imgs/ba1.jpg);
    background-color: rgb(60, 60, 60);
    background-blend-mode: soft-light;
}


.hero-item-2 {
    background-image: url(Imgs/ba2.jpg);
    background-color: rgb(60, 60, 60);
    background-blend-mode: soft-light;
}

.hero-item-3 {
    background-image: url(Imgs/ba3.jpg);
    background-color: rgb(60, 60, 60);
    background-blend-mode: soft-light;
}

/* Cards-menu */
.cards-title   {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
}
 .cards-title p {  
    margin:0;
    font-size: .8rem;
    color: #555;

 }
 .cards-title, .cards-menu{
     font-family: 'Noto Sans', sans-serif;
 }

.card-body h3 {
    font-size: 1.3rem;
    font-weight: bold;
}
.card-body p {
    font-size: 0.9rem;
    color: #555;
}

.text-white {
    color: #fff;
}

.card {
    padding: 0;
}






@media screen and (max-width:600px) {
  /* Navbar changes */
    #container-fluid{
    margin: 0;
  }

  /* hero changes */
  .hero p {
    width: 100%;
  }
  .hero {
    padding: 0 3rem;
    align-items: center;
  }
}


@media screen and (min-width:576px){
    /* cards changes */
    .card{
        margin: 0 auto;
    }
}